:root{
    --border-color:hsl(160, 91%, 50%);
    --background-color:hsl(160, 91%, 70%);
    --text-color:hsl(160, 40%, 20%);


    --switch-background-color:hsl(170, 99%, 50%);
    --switch-btn-color:hsl(170, 99%, 50%);


    --div-width:570px;

}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
     position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.switch_bar_div{
    display: flex;
    flex-direction: row;
    width: var(--div-width);
    height: auto;
    gap: 15px;
    padding: 10px;
    margin: 0 3px ;
    border: none;
    border-radius: 5px;
    background-color: var(--switch-background-color);
}

.switch_bar_div .switch_btn{
    font-size: 15px;
    background-color: var(--switch-btn-color);
    color: var(--text-color);
    /* outline: none; */
    border:none;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    font-size: 17px;
    transition: .6s ease-in-out;
    
}
.switch_bar_div .switch_btn:hover{
    --switch-btn-color:hsl(170, 80%, 50%);
    transition: .3s ease-in-out;
    font-size: 22px;

}

.box_div_active{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--div-width);
    height: auto;
    gap: 40px;
    margin: 0 ;
    padding: 10px;
    border: 2px solid var(--border-color) ;
    border-radius: 3px;
    background-color: var(--background-color);
    transition: 1s;
}
.box_div{
    display: none;
}

.box_div_active > h1{
    font-size: 40px;
    height: fit-content;
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box_div_active > input{
    width: 500px;
    margin: 0 auto;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 2px;
    padding: 8px;
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 15px;
}
.box_div_active > input::placeholder{
    color: var(--text-color);
}
.box_div_active .box_btn{
    width: 200px;
    height: 50px;
    border: 2px solid var(--border-color);
    border-radius: 40px;
    font-size: 20px;
    background-color: var(--background-color);
    transition: .5s ease-in-out;
    
}
.box_div_active .box_btn:hover{
    --background-color:hsl(160, 70%, 50%);
    transition: .3s ease-in-out;
}

